.tube-app{
    width: min(100% - 25px, 1660px);
    margin-inline: auto;
    margin-top: 180px;
   
}

.list-display-wrapper{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-inline: auto;
    // display: flex;
    justify-content: space-between;
    padding-inline: 45px;
    background-color: #ddd;
}