.tube-app{
    width: min(100% - 25px, 1440px);
    margin-inline: auto;
    margin-top: 150px;
  
}

.list-display-wrapper{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-inline: auto;
    // display: flex;
    justify-content: space-between;
    gap: 45px;
    padding-inline: 45px;
    background-color: #ddd;


}

@media screen and (max-width: 800px) {
    .tube-app{
        width: min(100% - 15px, 1440px);
        margin-inline: auto;
        margin-top: 20px;
      
    }
    .list-display-wrapper{
    flex-direction: column;
    gap: unset;
    padding-inline: 15px;
}
}