.tube-preview {
    background-color: #929191;
    border-radius: 5px;

    .preview-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        gap: 10px;

        .preview-img {
            border-radius: 3px;
        }

        button {

            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background-color: #e6e5e5;
            }
        }
    }
}