.video-wrapper{
    flex-direction: column;
}

// .iframe-container {
    // position: relative;
    // width: 85%;
    // height: 53%;
    // margin-bottom: 1rem;
//   }
  
  // .iframe-container iframe {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
  
  .wiki-results-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  